//>>>>> Component Button Here <<<<<//
.theme-btn {
    background: $theme-color;
    color: $bg-color-2;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 100px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 2;
    line-height: 1;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $header-color;
        z-index: -1;
        transition: all 0.4s ease-out;
        border-radius: inherit;
    }

    i,img {
        margin-left: 10px;
        transform: rotate(-45deg);
        @include transition;
    }

    &:hover {
       color: $bg-color-2;

        &::before {
            width: 100%;
        }

        i {
        transform: rotate(0);
        }
    }


    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }

    &.border-btn {
        border: 1px solid $border-color;
        background: transparent;
        color: $white;

        &::before,&::after {
            background: $theme-color;
        }

        img {
            @include transition;

        }

        &:hover {
            img {
                filter: grayscale(100%) brightness(300%);
            }
        }
    }

    &.radius-btn {
       border-radius: 60px;

       &:hover {
        i,img  {
                filter: grayscale(100%) brightness(300%);
            }
       }
    }
}

