//>>>>> Section Title Start <<<<<//

.section-title {
  position: relative;
  z-index: 99;
  margin-bottom: 30px;
 
  @include breakpoint(max-md) {
    margin-bottom: 0;
  }

  span {
    font-size: 20px;
    font-family: $heading-font;
    font-weight: 700;
    color: $header-color;
    background-clip: text;
    line-height: 1;
    display: inline-block;
    margin-bottom: 10px;

    img {
      margin-right: 10px;
      margin-left: 10px;
    }

    &.style-2 {
      color: $theme-color;
      padding: 8px 24px;
      border: $border-color-2;
      border-radius: 100px;

      @include breakpoint(max-lg) {
        padding: 5px 24px;
      }
    }

    &.style-3 {
      color: $theme-color;
    }
  }

  h2 {
    span {
      color: $theme-color !important;
      font-size: 56px;
      line-height: 114%;
      font-weight: 800;

      @include breakpoint(max-xl) {
        font-size: 40px;
      }

      @include breakpoint(max-lg) {
        font-size: 35px;
      }

      @include breakpoint(max-md) {
        font-size: 30px;
      }

      @include breakpoint(max-sm) {
        font-size: 30px;
      }
    }
  }
}

.section-title-area {
  @include flex;
  justify-content: space-between;
  position: relative;
  z-index: 9;

  @include breakpoint(max-lg) {
    flex-wrap: wrap;
    gap: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    color: $text-color;
    font-style: italic;
    border-left: 1px solid #6a47ed;
    padding-left: 20px;

    &.white-text {
      color: $white;
      border-left: 1px solid $white;
      font-weight: 500;
    }
  }

  .content {
     p {
       border-left: none;
       margin-bottom: 40px;
       font-style: initial;
       padding-left: 0;
       max-width: 553px;
     }
  }
}

//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
  text-align: center;
  margin: 0 auto;
}

.section-bg {
  background-color: $bg-color;
}

.section-bg-2 {
  background-color: $bg-color-2;
}

.body-color {
  background-color: $body-color;
}

.section-padding {
  padding: 120px 0;

  @include breakpoint(max-xl) {
    padding: 100px 0;
  }

  @include breakpoint(max-lg) {
    padding: 80px 0;
  }
}

//>>>>> Basic Css End <<<<<//
